
/*******************************profile**********************************/
#welcomeContent .row {
  height:auto;
  min-height: 300px;
  float:left;
  width:100%;
}
#welcomeContent #descriptionRow.row {
  margin-top: 20px;
  font: italic 16px Arial;
}
#welcomeContent #imageRow {
  background:transparent url(/img/johnmoline.jpg) no-repeat 40% 3%;
  background-size:75%;
  width:50% !important;
  position: relative;
}
#welcomeContent #imageRow #profileInformationContainer {
  width:100%;
  height:auto;
  min-height: 50px;
  position: absolute;
  bottom: 30% !important;
  left: 0;
}
#welcomeContent #imageRow #profileInformationContainer .profileRows {
  width:100%;
  height:25%;
  float:left;
  text-indent: 33px;
}
#welcomeContent #imageRow #profileInformationContainer #profileName.profileRows {
  font-size: 25px;
  text-indent: 10px !important;
}
#welcomeContent #informationRow {
  width: 50% !important;
  height: auto;
}
#welcomeContent #informationRow .contactItem a.item-content {
  width:100%;
  height:100%;
  float:left;
}
#welcomeContent #informationRow .contactItem {
  width: 93%;
  height: 50px;
  float:left;
  position: relative;
  margin:5% 10% 5% 0%;
  box-shadow:0px 0px 10px #cccccc;
}
#welcomeContent #informationRow .contactItem i {
  position: absolute;
  font-size: 35px;
  left: 15%;
  top: 15%;
}
#welcomeContent #informationRow .contactItem h2 {
  position: absolute;
  right: 15%;
  top: 30%;
}
#nameLabel {
  width:100%;
  height:25px;
  float:left;
}
/*******************************profile**********************************/
